<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <script src="/javascripts/bootstrap.min.js"></script>

</head>

<body>
    <header>
        <%- include('./partials/navbar'); %>
    </header>
    <br/>
    <h1>
        <%= title %>
    </h1>
    <p>
        Welcome to
        <%= title %> Blog
    </p>

    <p class=info>
        Aperçu des précédents articles

    </p>

    <button type="button" class="btn btn-success">Ajouter un article</button>

</body>

</html>